[submodule "pack/colorschemes/vim-colors-solarized"]
	path = pack/colorschemes/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/colorschemes/opt/vim-colors-solarized"]
	path = pack/colorschemes/opt/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/general/start/vim-airline"]
	path = pack/general/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/general/start/vim-airline-themes"]
	path = pack/general/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/general/start/nerdcommenter"]
	path = pack/general/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "pack/general/start/nerdtree"]
	path = pack/general/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/programming/start/taglist.vim"]
	path = pack/programming/start/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "pack/programming/start/YouCompleteMe"]
	path = pack/programming/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "pack/programming/start/ale"]
	path = pack/programming/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/general/start/ctrlp.vim"]
	path = pack/general/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/python/start/python-mode"]
	path = pack/python/start/python-mode
	url = https://github.com/python-mode/python-mode
[submodule "pack/general/start/vim-fugitive"]
	path = pack/general/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/general/start/webapi-vim"]
	path = pack/general/start/webapi-vim
	url = https://github.com/mattn/webapi-vim
[submodule "pack/general/start/gist-vim"]
	path = pack/general/start/gist-vim
	url = https://github.com/mattn/gist-vim
[submodule "pack/general/start/vim-table-mode"]
	path = pack/general/start/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
[submodule "pack/programming/start/plantuml-syntax"]
	path = pack/programming/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
[submodule "pack/general/start/fzf.vim"]
	path = pack/general/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/python/start/vim-isort"]
	path = pack/python/start/vim-isort
	url = https://github.com/fisadev/vim-isort
[submodule "pack/writing/start/goyo.vim"]
	path = pack/writing/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "pack/writing/start/limelight.vim"]
	path = pack/writing/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "pack/general/start/localvimrc"]
	path = pack/general/start/localvimrc
	url = https://github.com/vim-scripts/localvimrc
[submodule "pack/rust/start/rust.vim"]
	path = pack/rust/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/general/start/vim-toml"]
	path = pack/general/start/vim-toml
	url = https://github.com/cespare/vim-toml
