[submodule "pack/colorschemes/vim-colors-solarized"]
	path = pack/colorschemes/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/colorschemes/opt/vim-colors-solarized"]
	path = pack/colorschemes/opt/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/general/start/vim-airline"]
	path = pack/general/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/general/start/vim-airline-themes"]
	path = pack/general/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/general/start/nerdcommenter"]
	path = pack/general/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "pack/general/start/nerdtree"]
	path = pack/general/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/programming/start/taglist.vim"]
	path = pack/programming/start/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "pack/programming/start/YouCompleteMe"]
	path = pack/programming/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "pack/programming/start/ale"]
	path = pack/programming/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/general/start/ctrlp.vim"]
	path = pack/general/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/python/start/python-mode"]
	path = pack/python/start/python-mode
	url = https://github.com/python-mode/python-mode
