# vim swap files
*.swp

# undodir content
undodir/*
!undodir/.gitkeep

# fucking history file
.netrwhist

# no spell checking files
spell/*
!spell/.gitkeep

# python bytecode files
*.pyc
__pycache__/
